{% extends 'AdminApp/base.html' %} {% load static %} {% block content %}


<div class="card">
  <div class='px-3 py-3'>
      <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center justify-content-start">
              <a href="{% url 'tickets_report' %}"
                 class="btn rounded-pill btn-icon btn-outline-primary btn-sm me-3">
                  <i class="bx bx-arrow-back"></i> </a>
              <span class="fw-bold fs-5">Tickets Average Turn Around Time details</span>
          </div>
          <div class="d-flex flex-column justify-content-start mt-2">
              <span class="fw-bold fs-6">Time details : <span class="text-primary">{{filter_type}}</span></span>
              <span class="fw-bold fs-6">Ticket Type : <span class="text-primary">{{ticket_type}}</span></span>
          </div>
      </div>
  </div>

  <div class="table-responsive text-nowrap">
    <table class="table" id="report_table">
      <thead>
        <tr>
          <th>
              Ticket No.
          </th>
          <th>
              Employee
          </th>
          <th>
              Time Taken
          </th>
          <th>
              Location
          </th>
          <th>
              Service Engr
          </th>
          <th>
              Status
          </th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
      {% if issues %}
        {% for issue in issues %}
        <tr>
          <td>
            <span
              class="fw-bolder text-primary cursor-pointer"
              data-bs-target="#view_issue{{issue.id}}"
              data-bs-toggle="modal"
              >{{issue.ticket_no}}</span
            >
          </td>
          <td>
            <div class="d-flex flex-column">
              <span>{{issue.emp_name}}</span>
              <small>{{issue.emp_phone}}</small>
            </div>
          </td>
          <td><span class="fw-normal">
              {% if filter_type == "Raised_Assigned" %}
                {{issue.raised_assigned_hour}}
              {% elif filter_type == "Assigned_Resolved" %}
                {{issue.assigned_resolved_hour}}
              {% elif filter_type == "Assigned_Rejected" %}
                {{issue.assigned_rejected_hour}}
              {% else %}
                {{issue.raised_resolved_hour}}
              {% endif %}

              h:m</span></td>
          <td>
              {{issue.location}}
        </td>
          <td>
            <div class="d-flex flex-column">
              <span>{{issue.assign_name}}</span>
              <small>{{issue.assign_phone}}</small>
            </div>
          </td>
          <td>
              <button class="btn btn-xs rounded-pill
              {%if issue.status == 'Unassigned' %}btn-outline-secondary
              {% elif issue.status == 'Assigned' %}btn-outline-primary
              {% elif issue.status == 'Completed' %}btn-outline-success
              {%else%}btn-outline-danger{%endif%}" >
              {{issue.status}}
            </button>
          </td>
        </tr>

      <!-- view issue modal  -->
        <div
          class="modal fade"
          id="view_issue{{issue.id}}"
          tabindex="-1"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">
                  View Ticket {{issue.ticket_no}}
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>

              <div class="modal-body" style="white-space: normal;">

                  <ul class="timeline timeline-dashed mt-3">
                      <li class="timeline-item timeline-item-secondary mb-3">
                        <span class="timeline-indicator timeline-indicator-secondary">
                          <i class="bx bx-paint"></i>
                        </span>
                        <div class="timeline-event">
                          <div class="timeline-header mb-sm-0 mb-3">
                            <h5 class="mb-0">Ticket Raised</h5>
                            <small class="text-muted">{{issue.created_at}}</small>
                          </div>
                            <ul>
                              <li><small>Ticket No.</small> : {{issue.ticket_no}}</li>
                                <li>
                                    <small>Ticket Status</small> :
                                    <span
                                      class="badge rounded-pill
                                      {%if issue.status == 'Unassigned' %}bg-label-secondary
                                      {% elif issue.status == 'Assigned' %}bg-label-primary
                                      {% elif issue.status == 'Completed' %}bg-label-success
                                      {%else%}bg-label-danger{%endif%}"
                                    >{{issue.status}}</span>
                                  </li>
                                  <li>
                                    <small>Ticket Type</small> :
                                    <span class="fw-semibold text-primary"
                                      >{{issue.issue_type}}</span>
                                  </li>
                                <li><small>Description</small> : {{issue.description}}</li>
                                <li><small>Location</small> : {{issue.location}}</li>
                            </ul>
                            <div class="divider text-start-center">
                              <div class="divider-text fw-bold">Employee Details</div>
                            </div>
                            <ul>
                              <li><small>Name</small> : {{issue.emp_name}}</li>
                              <li><small>Phone</small> : {{issue.emp_phone}}</li>
                              {%if issue.emp_email %}
                              <li><small>Email</small> : {{issue.emp_email}}</li>
                              {% endif %}
                              <li>
                                <small>Designation</small> : {{issue.emp_designation}}
                              </li>
                              <li>
                                <small>Organization</small> : {{issue.emp_organization}}
                              </li>
                            </ul>
                        </div>
                      </li>
                      {% if issue.assign_name and issue.assign_phone %}
                        <li class="timeline-item timeline-item-info mb-3">
                          <span class="timeline-indicator timeline-indicator-info">
                            <i class="bx bx-user-check"></i>
                          </span>
                        <div class="timeline-event">
                          <div class="timeline-header mb-sm-0 mb-3">
                            <h5 class="mb-0">Ticket Assigned</h5>
                            <small class="text-muted">{{issue.assigned_date}}</small>
                          </div>
                            <ul>
                              <li><small>Name</small> : {{issue.assign_name}}</li>
                              <li><small>Phone</small> : {{issue.assign_phone}}</li>
                            </ul>
                        </div>
                      </li>
                      {%endif%}
                      {% if issue.status == "Completed" %}
                        <li class="timeline-item timeline-item-success mb-3">
                          <span class="timeline-indicator timeline-indicator-success">
                            <i class="bx bx-badge-check"></i>
                          </span>
                        <div class="timeline-event">
                          <div class="timeline-header mb-sm-0 mb-3">
                            <h5 class="mb-0">Ticket Resolved</h5>
                            <small class="text-muted">{{issue.resolved_date}}</small>
                          </div>
                        </div>
                      </li>
                      <li class="timeline-end-indicator">
                        <i class="bx bx-check-circle"></i>
                      </li>
                      {%endif%}

                      {% if issue.status == "Rejected" %}
                        <li class="timeline-item timeline-item-danger mb-3">
                          <span class="timeline-indicator timeline-indicator-danger">
                            <i class="bx bx-x-circle"></i>
                          </span>
                        <div class="timeline-event">
                          <div class="timeline-header mb-sm-0 mb-3">
                            <h5 class="mb-0">Ticket Rejected</h5>
                            <small class="text-muted">{{issue.rejected_date}}</small>
                          </div>
                            <ul>
                              <li><small>Reason</small> : {{issue.rejected_reason}}</li>
                            </ul>
                        </div>
                      </li>
                      <li class="timeline-end-indicator">
                        <i class="bx bx-info-circle"></i>
                      </li>
                      {% endif %}
                    </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- end aview issue modal  -->
        {% endfor %}
        {% else %}
        <tr>
          <td colspan="6">
            <div class="d-flex justify-content-center align-items-center flex-column">
            <h4 class="text-center text-danger mt-2">No Data Found! <a href="{% url 'tickets_report' %}"
              class="btn rounded-pill btn-icon btn-outline-primary btn-sm"><span
                  class="tf-icons bx bx-arrow-back"></span></a> </h4>
            </div>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>


        <nav aria-label="..." class='px-2 mt-2'>
    {% if issues.has_other_pages %}
        <ul class="pagination justify-content-end pagination-sm">
        {% if issues.has_previous %}
            <li class="page-item">
                <a class="page-link"
                href="?page={{ issues.previous_page_number }}"> <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo;</span>
            </li>
        {% endif %}

        {% for i in issues.paginator.page_range %}
            {% if issues.number == i %}
            <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ i }}</a></li>
            {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if issues.has_next %}
            <li class="page-item">
                <a class="page-link"
                 href="?page={{ issues.next_page_number }}"><span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">&raquo;</span>
            </li>
        {% endif %}
        </ul>
        {% endif %}
        </nav>

</div>
{%endblock content%}

