{% extends 'AdminApp/base.html' %} {% load static %} {% block content %}

<div class="row mb-2">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-center align-items-center" id="bar_graph_canvas">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
  <div class='px-3 py-3'>
      <h5>Tickets Report</h5>
    <form class="d-flex flex-md-row flex-column justify-content-between align-items-center" method="GET" ,
            action="{{issues_report}}">
            <select class="form-select form-select-sm me-md-3 mb-md-0 mb-2 {%if ticket_type %}border-primary{%endif%}" name="ticket_type" id="ticket_type">
                <option {%if ticket_type == "" %}selected{%endif%} value="">Ticket Type</option>
                <option {%if ticket_type == "Computer" %}selected{%endif%} value="Computer">Computer</option>
                <option {%if ticket_type == "Email" %}selected{%endif%} value="Email">Email</option>
                <option {%if ticket_type == "Network" %}selected{%endif%} value="Network">Network</option>
                <option {%if ticket_type == "Printer" %}selected{%endif%} value="Printer">Printer</option>
                <option {%if ticket_type == "Software" %}selected{%endif%} value="Software">Software</option>
                <option {%if ticket_type == "Other" %}selected{%endif%} value="Other">Other</option>
            </select>

            <select class="form-select form-select-sm me-md-3 mb-md-0 mb-2 {%if ticket_status %}border-primary{%endif%}" name="ticket_status" id="ticket_status" >
                <option {%if ticket_status == "" %}selected{%endif%} value="">Ticket Status</option>
                <option {%if ticket_status == "Unassigned" %}selected{%endif%} value="Unassigned">Unassigned</option>
                <option {%if ticket_status == "Assigned" %}selected{%endif%} value="Assigned">Assigned</option>
                <option {%if ticket_status == "Completed" %}selected{%endif%} value="Completed">Completed</option>
                <option {%if ticket_status == "Rejected" %}selected{%endif%} value="Rejected">Rejected</option>
            </select>

            <div class="input-group input-group-merge input-group-sm me-md-3 mb-md-0 mb-2 {%if from_date %}border-primary{%endif%}">
                <span class="input-group-text">From:</span>
                <input type="date" name="from_date" class="form-control" value="{{from_date|date:'Y-m-d'}}">
            </div>
            <div class="input-group input-group-merge input-group-sm me-md-3 mb-md-0 mb-2 {%if to_date%}border-primary{%endif%}">
                <span class="input-group-text">To:</span>
                <input type="date" name="to_date" class="form-control"  value="{{to_date|date:'Y-m-d'}}">
            </div>
            <input type="search"  class="form-control form-control-sm me-md-3 mb-md-0 mb-2 {%if query%}border-primary{%endif%}" value="{{query}}" name="query" id="query" placeholder="Search..." />
            <div class='d-flex'>
            <button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
            {% if to_date or from_date or ticket_status or ticket_type or query %}
            <a href="{% url 'tickets_report' %}" type="reset" class="btn ms-1 btn-danger btn-sm">Clear</a>
            {%endif%}
            </div>
        </form>
  </div>

  <div class="table-responsive text-nowrap">
    <table class="table" id="report_table">
      <thead>
        <tr>
          <th>
              Ticket No.
              {% if order_by == "-ticket_no" %}
                <i class='bx bx-up-arrow-alt cursor-pointer' onclick="order_by('ticket_no')"></i>
              {%else%}
                <i class='bx bx-down-arrow-alt cursor-pointer' onclick="order_by('-ticket_no')"></i>
              {% endif %}
          </th>
          <th>
              Employee
              {% if order_by == "-emp_name" %}
                <i class='bx bx-up-arrow-alt cursor-pointer' onclick="order_by('emp_name')"></i>
              {%else%}
                <i class='bx bx-down-arrow-alt cursor-pointer' onclick="order_by('-emp_name')"></i>
              {% endif %}
          </th>
          <th>
              Ticket Type
              {% if order_by == "-issue_type" %}
                <i class='bx bx-up-arrow-alt cursor-pointer' onclick="order_by('issue_type')"></i>
              {%else%}
                <i class='bx bx-down-arrow-alt cursor-pointer' onclick="order_by('-issue_type')"></i>
              {% endif %}
          </th>
          <th>
              Issue Date
              {% if order_by == "-created_at" %}
                <i class='bx bx-up-arrow-alt cursor-pointer' onclick="order_by('created_at')"></i>
              {%else%}
                <i class='bx bx-down-arrow-alt cursor-pointer' onclick="order_by('-created_at')"></i>
              {% endif %}
          </th>
          <th>
              Service Engr
              {% if order_by == "-assign_name" %}
                <i class='bx bx-up-arrow-alt cursor-pointer' onclick="order_by('assign_name')"></i>
              {%else%}
                <i class='bx bx-down-arrow-alt cursor-pointer' onclick="order_by('-assign_name')"></i>
              {% endif %}
          </th>
          <th>
              Status
              {% if order_by == "-status" %}
                <i class='bx bx-up-arrow-alt cursor-pointer' onclick="order_by('status')"></i>
              {%else%}
                <i class='bx bx-down-arrow-alt cursor-pointer' onclick="order_by('-status')"></i>
              {% endif %}
          </th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
      {% if issues %}
        {% for issue in issues %}
        <tr>
          <td>
            <span
              class="fw-bolder text-primary cursor-pointer"
              data-bs-target="#view_issue{{issue.id}}"
              data-bs-toggle="modal"
              >{{issue.ticket_no}}</span
            >
          </td>
          <td>
            <div class="d-flex flex-column">
              <span>{{issue.emp_name}}</span>
              <small>{{issue.emp_phone}}</small>
            </div>
          </td>
          <td><span class="fw-normal">{{issue.issue_type}}</span></td>
          <td>{{issue.created_at}}</td>
          <td>
            <div class="d-flex flex-column">
              <span>{{issue.assign_name}}</span>
              <small>{{issue.assign_phone}}</small>
            </div>
          </td>
          <td>
              <button class="btn btn-xs rounded-pill
              {%if issue.status == 'Unassigned' %}btn-outline-secondary
              {% elif issue.status == 'Assigned' %}btn-outline-primary
              {% elif issue.status == 'Completed' %}btn-outline-success
              {%else%}btn-outline-danger{%endif%}" >
              {{issue.status}}
            </button>

            <a href="{% url 'download_ticket_report' id=issue.id %}" target="_blank"
              class="btn btn-xs btn-outline-info">
              <i class='bx bxs-cloud-download' ></i>
            </a>
          </td>
        </tr>
        <!-- view issue modal  -->
        <div
          class="modal fade"
          id="view_issue{{issue.id}}"
          tabindex="-1"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">
                  View Ticket {{issue.ticket_no}}
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>

              <div class="modal-body" style="white-space: normal;">

                  <ul class="timeline timeline-dashed mt-3">
                      <li class="timeline-item timeline-item-secondary mb-3">
                        <span class="timeline-indicator timeline-indicator-secondary">
                          <i class="bx bx-paint"></i>
                        </span>
                        <div class="timeline-event">
                          <div class="timeline-header mb-sm-0 mb-3">
                            <h5 class="mb-0">Ticket Raised</h5>
                            <small class="text-muted">{{issue.created_at}}</small>
                          </div>
                            <ul>
                              <li><small>Ticket No.</small> : {{issue.ticket_no}}</li>
                                <li>
                                    <small>Ticket Status</small> :
                                    <span
                                      class="badge rounded-pill
                                      {%if issue.status == 'Unassigned' %}bg-label-secondary
                                      {% elif issue.status == 'Assigned' %}bg-label-primary
                                      {% elif issue.status == 'Completed' %}bg-label-success
                                      {%else%}bg-label-danger{%endif%}"
                                    >{{issue.status}}</span>
                                  </li>
                                  <li>
                                    <small>Ticket Type</small> :
                                    <span class="fw-semibold text-primary"
                                      >{{issue.issue_type}}</span>
                                  </li>
                                <li><small>Description</small> : {{issue.description}}</li>
                                <li><small>Location</small> : {{issue.location}}</li>
                            </ul>
                            <div class="divider text-start-center">
                              <div class="divider-text fw-bold">Employee Details</div>
                            </div>
                            <ul>
                              <li><small>Name</small> : {{issue.emp_name}}</li>
                              <li><small>Phone</small> : {{issue.emp_phone}}</li>
                              {%if issue.emp_email %}
                              <li><small>Email</small> : {{issue.emp_email}}</li>
                              {% endif %}
                              <li>
                                <small>Designation</small> : {{issue.emp_designation}}
                              </li>
                              <li>
                                <small>Organization</small> : {{issue.emp_organization}}
                              </li>
                            </ul>
                        </div>
                      </li>
                      {% if issue.assign_name and issue.assign_phone %}
                        <li class="timeline-item timeline-item-info mb-3">
                          <span class="timeline-indicator timeline-indicator-info">
                            <i class="bx bx-user-check"></i>
                          </span>
                        <div class="timeline-event">
                          <div class="timeline-header mb-sm-0 mb-3">
                            <h5 class="mb-0">Ticket Assigned</h5>
                            <small class="text-muted">{{issue.assigned_date}}</small>
                          </div>
                            <ul>
                              <li><small>Name</small> : {{issue.assign_name}}</li>
                              <li><small>Phone</small> : {{issue.assign_phone}}</li>
                            </ul>
                        </div>
                      </li>
                      {%endif%}
                      {% if issue.status == "Completed" %}
                        <li class="timeline-item timeline-item-success mb-3">
                          <span class="timeline-indicator timeline-indicator-success">
                            <i class="bx bx-badge-check"></i>
                          </span>
                        <div class="timeline-event">
                          <div class="timeline-header mb-sm-0 mb-3">
                            <h5 class="mb-0">Ticket Resolved</h5>
                            <small class="text-muted">{{issue.resolved_date}}</small>
                          </div>
                        </div>
                      </li>
                      <li class="timeline-end-indicator">
                        <i class="bx bx-check-circle"></i>
                      </li>
                      {%endif%}

                      {% if issue.status == "Rejected" %}
                        <li class="timeline-item timeline-item-danger mb-3">
                          <span class="timeline-indicator timeline-indicator-danger">
                            <i class="bx bx-x-circle"></i>
                          </span>
                        <div class="timeline-event">
                          <div class="timeline-header mb-sm-0 mb-3">
                            <h5 class="mb-0">Ticket Rejected</h5>
                            <small class="text-muted">{{issue.rejected_date}}</small>
                          </div>
                            <ul>
                              <li><small>Reason</small> : {{issue.rejected_reason}}</li>
                            </ul>
                        </div>
                      </li>
                      <li class="timeline-end-indicator">
                        <i class="bx bx-info-circle"></i>
                      </li>
                      {% endif %}
                    </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- end aview issue modal  -->
        {% endfor %}
        {% else %}
        <tr>
          <td colspan="6">
            <div class="d-flex justify-content-center align-items-center flex-column">
            <h4 class="text-center text-danger mt-2">No Data Found! <a href="{% url 'manage_issues' %}"
              class="btn rounded-pill btn-icon btn-outline-primary btn-sm"><span
                  class="tf-icons bx bx-refresh"></span></a> </h4>
            {% if to_date or from_date or ticket_status or ticket_type or query %}
            <ul>
              Filter Apply
            {% if from_date %}
              <li><strong>From Date</strong>: {{from_date|date:'Y-m-d'}}</li>
            {%endif%}
            {% if to_date %}
              <li><strong>To Date</strong>: {{to_date|date:'Y-m-d'}}</li>
            {%endif%}

            {% if ticket_type%}
              <li><strong>Ticket Type</strong>: {{ticket_type}}</li>
            {%endif%}

            {% if query %}
              <li><strong>Search</strong>: {{query}}</li>
            {%endif%}
            </ul>
            {%endif%}
            </div>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

    <div class="d-flex justify-content-between align-items-center ps-2">
        <button class="btn btn-sm btn-outline-success"
                onclick="ExportToExcel('Ticket_report{% if from_date %}&to_date={{from_date|date:'Y-m-d'}}{%endif%}{% if to_date %}&to_date={{to_date|date:'Y-m-d'}}{%endif%}{% if ticket_status %}&ticket_status={{ticket_status}}{%endif%}{% if ticket_type %}&ticket_type={{ticket_type}}{%endif%}{% if query %}&query={{query}}{%endif%}')">Download Excel</button>
        <nav aria-label="..." class='px-2 mt-2'>
    {% if issues.has_other_pages %}
        <ul class="pagination justify-content-end pagination-sm">
        {% if issues.has_previous %}
            <li class="page-item">
                <a class="page-link"
                href="?page={{ issues.previous_page_number }}{% if from_date %}&to_date={{from_date|date:'Y-m-d'}}{%endif%}{% if to_date %}&to_date={{to_date|date:'Y-m-d'}}{%endif%}{% if ticket_status %}&ticket_status={{ticket_status}}{%endif%}{% if ticket_type %}&ticket_type={{ticket_type}}{%endif%}{% if query %}&query={{query}}{%endif%}{% if order_by %}&order_by={{order_by}}{%endif%}">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo;</span>
            </li>
        {% endif %}

        {% for i in issues.paginator.page_range %}
            {% if issues.number == i %}
            <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ i }}</a></li>
            {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ i }}{% if from_date %}&to_date={{from_date|date:'Y-m-d'}}{%endif%}{% if to_date %}&to_date={{to_date|date:'Y-m-d'}}{%endif%}{% if ticket_status %}&ticket_status={{ticket_status}}{%endif%}{% if ticket_type %}&ticket_type={{ticket_type}}{%endif%}{% if query %}&query={{query}}{%endif%}{% if order_by %}&order_by={{order_by}}{%endif%}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if issues.has_next %}
            <li class="page-item">
                <a class="page-link"
                 href="?page={{ issues.next_page_number }}{% if from_date %}&to_date={{from_date|date:'Y-m-d'}}{%endif%}{% if to_date %}&to_date={{to_date|date:'Y-m-d'}}{%endif%}{% if ticket_status %}&ticket_status={{ticket_status}}{%endif%}{% if ticket_type %}&ticket_type={{ticket_type}}{%endif%}{% if query %}&query={{query}}{%endif%}{% if order_by %}&order_by={{order_by}}{%endif%}">
                 <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">&raquo;</span>
            </li>
        {% endif %}
        </ul>
        {% endif %}
        </nav>
    </div>

</div>

{% endblock content %} {% block customjs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.8/xlsx.full.min.js"></script>

<script>
        document.addEventListener("DOMContentLoaded", function () {
            issue_resolved_average();
          });

    function filter_row_data(obj) {
    return {
            Ticket_No:obj.ticket_no,
            Ticket_Status:obj.status,
            Ticket_Type :obj.issue_type,
            Description:obj.description,
            Organization:obj.emp_organization,
            Location:obj.location,
            Ticket_Raised_Time:obj.created_at,
            Ticket_Assigned_Time:obj.assigned_date,
            Ticket_Resolved_Time:obj.resolved_date,
            Ticket_Rejected_Time:obj.rejected_date,
            EMP_Name:obj.emp_name,
            EMP_Phone:obj.emp_phone,
            EMP_Email:obj.emp_email,
            EMP_Designation:obj.emp_designation,
            Assign_Name:obj.assign_name,
            Assign_Phone:obj.assign_phone,
            Rejected_Reason:obj.rejected_reason
           }
         }

    function ExportToExcel(file_name) {
           if (confirm("Are you sure you want to download xlsx file.!") == true) {
           const data = JSON.parse({{issues_list_json | safe}}).map(item => filter_row_data(item.fields))
           const worksheet = XLSX.utils.json_to_sheet(data);
           const workbook = XLSX.utils.book_new();
           XLSX.utils.book_append_sheet(workbook, worksheet, "Sheet1");
           XLSX.writeFile(workbook, file_name+'.xlsx');
           }
        }

    function order_by(ob) {
        var query = "?page={{ page }}{% if from_date %}&to_date={{from_date|date:'Y-m-d'}}{%endif%}{% if to_date %}&to_date={{to_date|date:'Y-m-d'}}{%endif%}{% if ticket_status %}&ticket_status={{ticket_status}}{%endif%}{% if ticket_type %}&ticket_type={{ticket_type}}{%endif%}{% if query %}&query={{query}}{%endif%}"
        var manage_url = "{% url 'tickets_report' %}"
        return location.href = `${manage_url}${query}&order_by=${ob}`;
    }

    function redirect_details(series_ind, datapoint_ind){
    const datapoint = ['Computer', 'Email', 'Network', 'Printer', 'Software', 'Other']
    const series = ['Raised_Assigned', 'Assigned_Resolved', 'Raised_Resolved', 'Assigned_Rejected']
    var red_url = "{% url 'ticket_report_average_time' %}"
    return location.href = `${red_url}?filter_type=${series[series_ind]}&ticket_type=${datapoint[datapoint_ind]}`;
    }


    function issue_resolved_average() {
     IssueAverageTimeAnalytics({}).then((resp) => {
        if (resp.success) {
            const labels = resp.data.labels
            const series_data = resp.data.series
            const canvas = document.getElementById("bar_graph_canvas")

            var options = {
              series: series_data,
              colors: ['#696cff', '#ffab00', '#71dd37', '#ff3e1d',],
              chart: {
              type: 'bar',
              height: 350,
              stacked: true,
              toolbar: {
                show: false
              },
              events: {
              click: function(event, chartContext, config) {
              redirect_details(config.seriesIndex, config.dataPointIndex)
                }
              },
            },
            plotOptions: {
              bar: {
                horizontal: true,
                dataLabels: {
                  total: {
                    enabled: true,
                    offsetX: 0,
                    style: {
                      fontSize: '13px',
                      fontWeight: 900
                    }
                  }
                }
              },
            },
            stroke: {
              width: 1,
              colors: ['#fff']
            },
            title: {
              text: 'Ticket Turn Around Time'
            },
            xaxis: {
              categories: labels,
              labels: {
                formatter: function (val) {
                  return val + " hr"
                }
              }
            },
            yaxis: {
              title: {
                text: undefined
              },
            },
            tooltip: {
              y: {
                formatter: function (val) {
                  return val + " Hours"
                }
              }
            },
            fill: {
              opacity: 1
            },
            legend: {
              position: 'top',
              horizontalAlign: 'left',
              offsetX: 40
            }
            };
            const chart = new ApexCharts(canvas, options);
            chart.render();
        }
        })
    }

     async function IssueAverageTimeAnalytics(data = {}) {
        // Default options are marked with *
        const url = "{% url 'issue_average_time_analytics' %}";
        const response = await fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data), // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
    }


</script>
{% endblock customjs %}
